[Unit]
Description=Run cultivator

[Service]
Type=simple
User=cultivator
ExecStart=/usr/local/bin/cultivator execute -c /var/lib/cultivator/config.yaml
